/*--Nav---*/

.nav {
    background-color: ;
    width: 100%;
    height: 45px;
    border-radius: 50px;
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-left: 1px solid black;
}
