/*--Nav---*/

* {
    margin: 0;
    padding: 0;
}

.nav {
    display: table;
    width: 100%;
    max-width: 1400px;
    margin: 0;
    border-collapse: collapse;
    position: relative;
}

.sub-nav {
    display: table;
}

.nav  a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.nav-li {
    background-color: #404048;
    display: table-cell;
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
    padding: 10px;
    border-left: 1px solid #fff;
}

.nav-li:first-child {
    border-left: none
}


.nav li:hover{
    background-color: #FF393E;
}

.nav-li ul {
    position: absolute;
    visibility: hidden;
}

.sub-nav-li {
    box-sizing: border-box;
    display: table-cell;
    padding: 30px;
}

.nav li:hover ul{
    visibility:visible;
    background-color: transparent;
}

/*---End Nav---*/

